<div class="page text-center">
  <p>
    Bisiklet ve Kent Çalıştayı hakkında çıkan haberleri burada bulabilirsiniz.
  </p>
  <ul>
    <!-- <li>
      <a href="http://www.zeroistanbul.com/haberler/bisiklet-ve-kent-calistayi-21-22-ekimde" target="_blank">Zero İstanbul <i class="fa fa-external-link"></i></a>
    </li> -->
  </ul>

  <h3 class="p-3">Diğer medya</h3>

  <!-- <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sLYgtUqADOs?rel=0" frameborder="0" allowfullscreen></iframe>
  </div> -->
</div>
