<div class="page text-center">
  <p>
    Bisiklet ve Kent Çalıştayı hakkında çıkan haberleri burada bulabilirsiniz.
  </p>
  <ul>
    <li>
      <a href="http://www.zeroistanbul.com/haberler/bisiklet-ve-kent-calistayi-21-22-ekimde" target="_blank">Zero İstanbul <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://www.gazetekadikoy.com.tr/spor/bisikleti-calisacaklar-h11267.html" target="_blank">Gazete Kadıköy <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://www.kuzeyormanlari.org/2017/10/16/arabadan-in-bisiklete-bin-diyenler-bisiklet-ve-kent-calistayinda-bulusuyor-21-22-ekim-kadikoy/" target="_blank">Kuzey Ormanları Savunması <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://bianet.org/bianet/kent/190706-istanbul-da-bisiklet-calistayi-yuzunu-bisiklete-don" target="_blank">Bianet <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://www.sivilsayfalar.org/don-kisot-bisiklet-kolektifinden-bisiklet-kent-calistayi-2017/" target="_blank">Sivil Sayfalar <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="https://www.birgun.net/haber-detay/kadikoy-de-bisiklet-calistayi-yuzunu-bisiklete-don-185003.html" target="_blank">BirGün <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="https://www.gazeteduvar.com.tr/gundem/2017/10/17/yuzunu-bisiklete-don/" target="_blank">Gazete Duvar <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://direnisdayanisma.com/2017/10/13/bisiklet-ve-kent-calistayi-yuzunu-bisiklete-don/" target="_blank">Direniş Dayanışma <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://www.diken.com.tr/istanbulda-calistay-adan-zye-bisiklet-konusulacak/" target="_blank">Diken <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="https://dagmedya.net/2017/10/17/bisiklet-calistayi-duzenleniyor/" target="_blank">Dağ Medya <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://www.yapi.com.tr/haberler/yuzunu-bisiklete-don_161759.html" target="_blank">yapi.com.tr <i class="fa fa-external-link"></i></a>
    </li>
    <li>
      <a href="http://www.cumhuriyet.com.tr/haber/cevre/847831/Don_Kisot_tan_bisiklet_calistayi__Yuzunu_bisiklete_don.html" target="_blank">Cumhuriyet <i class="fa fa-external-link"></i></a>
    </li>
  </ul>

  <h3 class="p-3">Diğer medya</h3>

  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sLYgtUqADOs?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9v4zPn8_AV0?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <h3 class="p-3">Çağrı Videolarımız</h3>

  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Ozfv-QNao84?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/aJNk-gRCPnI?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fZzfX9FKuK4?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/TKqlwxcsAME?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vO_eRBr5v0o?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video">

  </div>
  <div class="video">

  </div>
</div>
