<div class="page">
  <h3 class="mb-4 mt-2 text-center">
    Bisiklet ve Kent Çalıştayı 2017 Programı
  </h3>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>21 Ekim Cumartesi</th>
        <th>22 Ekim Pazar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>13:00 - 13:40</th>
        <td>Aysu Melis Bağlan<br><strong>Bisiklet ve Hukuk</strong></td>
        <td>Arzu Erturan, Kevser Üstündağ<br><strong>Bisiklet Dostu Kent Tasarımı</strong></td>
      </tr>
      <tr>
        <th>13:40 - 14:20</th>
        <td>Bağış Erten<br><strong>Bisiklet ve Medya</strong></td>
        <td>Mahmut Keçeci<br><strong>Erişilebilirlik</strong></td>
      </tr>
      <tr>
        <th>14:20 - 15:00</th>
        <td>Ali Serdar Fak<br><strong>Bisiklet ve Sağlık</strong></td>
        <td>Murat Sevinç<br><strong>Dünya'ya İki Teker Üzerinden Bakmak</strong></td>
      </tr>
      <tr>
        <th>15:00 - 16:00</th>
        <td>Kokteyl</td>
        <td>Kokteyl</td>
      </tr>
      <tr>
        <th>16:00 - 16:40</th>
        <td>İpek Saraç<br><strong>Bisikletli Kadın Olmak</strong></td>
        <td>Merve, Gürhan, Emre<br><strong>Bir Aktivizm Aracı Olarak Bisiklet</strong></td>
      </tr>
      <tr>
        <th>16:40 - 17:40</th>
        <td><strong>Serbest Kürsü</strong></td>
        <td><strong>Forum: Bisikletde Yanyana Durmanın Felsefesi</strong></td>
      </tr>
      <tr>
        <th>17:40 - 18:00</th>
        <td>Çay - Kahve Molası</td>
        <td>Çay - Kahve Molası</td>
      </tr>
      <tr>
        <th>18:00 - 19:00</th>
        <td><strong>Çalışma Grupları</strong></td>
        <td><strong>Çalışma Grupları</strong></td>
      </tr>
    </tbody>
  </table>
</div>
