<div class="page">
  <h3 class="mb-4 mt-2 text-center">
    Bisiklet ve Kent Çalıştayı 2017 Programı
  </h3>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>21 Ekim Cumartesi</th>
        <th>22 Ekim Pazar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>13:00 - 13:40</th>
        <td>Bağış Erten<br>Bisiklet ve Medya</td>
        <td>Belirlenecek</td>
      </tr>
      <tr>
        <th>13:40 - 14:20</th>
        <td>Ali Serdar Fak<br>Bisiklet ve Sağlık</td>
        <td>Belirlenecek</td>
      </tr>
      <tr>
        <th>14:20 - 15:00</th>
        <td>Belirlenecek</td>
        <td>Belirlenecek</td>
      </tr>
      <tr>
        <th>15:00 - 16:00</th>
        <td>Kokteyl</td>
        <td>Kokteyl</td>
      </tr>
      <tr>
        <th>16:00 - 16:40</th>
        <td>Belirlenecek</td>
        <td>Merve, Gürhan, Emre<br>Bir Aktivizm Aracı Olarak Bisiklet</td>
      </tr>
      <tr>
        <th>16:40 - 17:40</th>
        <td>Serbest Kürsü</td>
        <td>Forum: Bisikletde Yanyana Durmanın Felsefesi</td>
      </tr>
      <tr>
        <th>17:40 - 18:00</th>
        <td>Çay - Kahve Molası</td>
        <td>Çay - Kahve Molası</td>
      </tr>
      <tr>
        <th>18:00 - 19:00</th>
        <td>Çalışma Grupları</td>
        <td>Çalışma Grupları</td>
      </tr>
    </tbody>
  </table>
</div>
