<div class="page">
  <div class="text-center mb-3">
    <img
      class="mw-100"
      src="/assets/bk_calistay.png"
      alt="Bisiklet ve Kent Çalıştayı 2017 Logo"
    >
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Nedir?</h1>
      <ul>
        <li>
          Ulaşımda bisikletin rolü tartışılır.
        </li>
        <li>
          Metropolde yaşayan bisikletlilerin sorunları konuşulur, çözüm önerileri getirilir.
        </li>
        <li>
          İçinde bulunduğumuz küresel sistemde, bisikletin rolü tartışılır.
        </li>
        <li>
          Aktivistlerin bisikleti nasıl kullandıkları, bisikletlilerin nasıl aktivizme dahil olduğu konuşulur.
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h1>Nerede?</h1>
      <p>
        Bisiklet ve Kent Çalıştayı, Tasarım Atölyesi Kadıköy'de.
      </p>
      <div>
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=29.029086828231815%2C40.99498796815188%2C29.032627344131473%2C40.99679981952534&amp;layer=mapnik&amp;marker=40.99589288785602%2C29.03085708618164" style="width: 100%; height: 300px"></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Nasıl?</h1>
      <p>
        Her gün önce dört adet sunum yapılacak. Sonra bu konularda birer çalışma grubu oluşacak. Bu çalışma grupları, belirlenen bir süre içinde (mesela 30 gün) bu konuda gerekli araştırmaları yapacak ve bir metin ortaya çıkaracak. Bu metinler ise derlenecek ve çalıştayın sonuç metnini oluşturacak.
      </p>
      <p>
        <a class="text-info" routerLink="/program">Buradan</a> programa bakabilirsin.
      </p>
    </div>
    <div class="col-12 col-lg-6">
      <h1>Ne zaman?</h1>
      <p>
        Bisiklet ve Kent Çalıştayı, 21-22 Ekim tarihlerinde, 13:00-19:00 saatleri arasında olacak.
      </p>
    </div>
  </div>
</div>
