<div class="page">
  <p>
    Bisiklet ve Kent Çalıştayı hakkında belgeleri aşağıdaki bağlantılardan indirebilirsiniz.
  </p>
  <ul>
    <li>
      <a href="assets/documents/basin-bulteni1.pdf" target="_blank">Basın Bülteni (PDF)</a>
    </li>
    <li>
      <a href="assets/documents/tanitim.pdf" target="_blank">Tanıtım (PDF)</a>
    </li>
    <li>
      <a href="assets/bk_calistay.png" target="_blank">Logo (PNG)</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=Ozfv-QNao84" target="_blank">Tanıtım videosu (Youtube)</a>
    </li>
  </ul>
</div>
